.skill-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap:50px;
}


.skill-img {
	height: 150px;
	width: 150px;
	margin: 15px 30px;
}

@media only screen and (max-width: 900px) {
.skill-container{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap:50px;
}
}